.navbar {
  background-color: var(--clr-theme-nav-background-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 15px;

  &-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;

    &-logo {
      color: var(--clr-theme-main-color);
      cursor: pointer;
    }

    &-menu {
      display: flex;
      text-align: center;

      &-item {
        line-height: 40px;
        margin-right: 1.5rem;
        font-size: 1.3rem;

        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: all 0.5s ease;
        }

        &:hover::after {
          width: 100%;
          background-color: var(--clr-theme-main-color);
        }

        &-links {
          color: var(--clr-theme-main-color);
          text-decoration: none;
          padding: 0.5rem;
        }
      }
    }
  }
}

.nav-icons {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar-container-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    color: aliceblue;
    transition: all 0.5s ease;

    &.active {
      background: #181818;
      left: 0px;
    }
  }

  .nav-icons {
    display: block;
    cursor: pointer;
    color: var(--clr-theme-main-color);
  }
}
